@import "../_brand-variables";
@import "../_abstract-classes";

ul,
ol {
    // list without any bullets or padding
    &.list-clean {
        list-style: none;
        padding: 0;

        li {
            padding: 0;
        }
    }

    // give a 10px space between list items
    &.list-spaced {
        li {
            margin-bottom: 10px;
        }
    }
}
